@charset "utf-8";

.calculator{
	text-align: center;
	table-layout: fixed;
	width: 400px;

	.display{
		background-color: black;
		color: white;
		height: 50px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
 .cell{
		padding: 5px;
	}

	.button{
  width: 80px;
 }

 	.long_cell{
		padding: 0;
	}

 #allclear,#equal{
  width: 140px;
 }

}
}
