@charset "utf-8";

.calculator{
	text-align: center;
	
	.display{
		background-color: black;
  color: white;
		height: 50px;
	}
	
 .cell,.long_cell{
		padding: 5px;
	}

	.button{
  width: 50px;
 }
 .long_button{
  width: 100px;
 }

}